asgiref==3.5.2
backports.zoneinfo==0.2.1
Django==4.0.4
django-crispy-forms==1.14.0
django-environ==0.8.1
django-widget-tweaks==1.4.12
gunicorn==20.1.0
packaging==21.3
Pillow==7.1.1
pip-review==1.1.1
pyparsing==3.0.9
pytz==2019.3
sqlparse==0.4.2
whitenoise==5.0.1
